.mat-h1 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    font-family: Roboto,sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.mat-h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.2rem;
    font-family: Roboto,sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.mat-h3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    font-family: Roboto,sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.mat-h5 {
    font-size: 1.162rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: Roboto,sans-serif;
    letter-spacing: normal;
    margin: 0 0 12px;
}

.mat-display-1 {

}

.mat-caption {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: Roboto,sans-serif;
    letter-spacing: .15px;
}

.mat-subtitle-1 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    font-family: Roboto,sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.mat-subtitle-2 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    font-family: Roboto,sans-serif;
    letter-spacing: .15px;
}